img {
  border-radius: 50%;
  border: 2px solid var(--main-red);
  height: 2rem;
}

nav {
  background-color: var(--background-black);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 3rem 0 3rem;
}

p {
  padding: 0 15px 0 5px;
}

.welcome {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logout {
  color: var(--main-red);
  cursor: pointer;
}
