/* #region HEADER STYLING */ 
.randomAvi {
  border-radius: 50%;
  border: 2px solid var(--main-red);
  height: 2rem;
}

.headerNav {
  background-color: var(--background-black);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 3rem 0 3rem;
}

.sidebarNav {
  text-decoration: none;
  color: white;
}

.title {
  padding: 0 15px 0 5px;
}

.welcome {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logout {
  color: var(--main-red);
  cursor: pointer;
}
/* #endregion HEADER STYLING */

/* #region SIDEBAR STYLING */
nav ul li {
  list-style: none;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

nav > ul li {
  padding: 1rem 0;
  margin: 0 1rem;
}

.iconPadding {
  padding-right: 1rem;
}

.sidebarNav {
  width: 15rem;
  height: 100vh;
  background-color: var(--dark-red);
  color: white;
  text-decoration: none;
  text-align: left;
  overflow: visible;
  position: relative;
  font-weight: 700;
}

nav ul {
  padding: 0;
  width: 100%;
}

.activities {
  background-color: var(--input-gray);
  padding: 0.5rem 1rem;
  text-decoration-color: white;
  width: 11rem;
}

.underline {
  text-decoration: underline;
}
/* #endregion SIDEBAR STYLING */