/* #region h2 STYLING */
h2 {
  color: black;
  text-align: center;
  font-size: 20px;
  padding: 1.5rem;
}
/* #endregion h2 STYLING */

/* #region FORM STYLING */
form {
  width: 30rem;
  margin: 10rem auto; 
}
/* #endregion FORM STYLING */

/* #region FLEXBOX */
.flexbox {
  width: 30rem;
  height: 20rem;
  background-color: white;
  display: flex;
  flex-direction: column;
}
/* #endregion FLEXBOX */

/* #region SIGN IN/UP */
.signBtnsFlex {
  width: 30rem;
  display: flex;
  justify-content: space-between;
}
.signBtns {
  border-radius: 0;
  font-weight: 600;
  font-size: 18px;
  height: 3.5rem;
  cursor: pointer;
  width: 15rem;
  justify-content: space-between;
}
/* #endregion SIGN IN/UP */

/* #region SUBMIT BUTTON STYLING */
.submitButton {
  font-weight: 500;
  margin-top: 2rem;
  margin-left: 20rem;
}
/* #endregion SUBMIT BUTTON STYLING */

/* #region INPUT BOX STYLING */
.inputBox {
  text-align: center;
}
.input {
  width: 18rem;
  font-size: 16px;
  padding: 1rem;
  border-bottom: 1px solid var(--main-red);
  outline: none;
}
/* #endregion INPUT BOX STYLING */


/* #region ICON STYLING */
.babyPink {
  color: var(--light-red);
  margin-right: 10px;
}
/* #endregion ICON STYLING */